{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
        {{#has visibility="paid"}}
            <h2>Este artículo es para suscriptores de pago.</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>Este artículo es para miembros.</h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" style="color:{{accentColor}}">Mejora tu cuenta</a>
        {{else}}
            <a class="gh-btn" data-portal="signup" style="color:{{accentColor}}">Suscríbete ahora</a>
            <p><small>¿Ya tienes cuenta? <a data-portal="signin">Accede</a></small></p>
        {{/if}}
    </div>
</aside>
